form {
  margin-top: 20px;
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 8px;
}

label {
  color: #00ffd9;
  display: inline-block;
  min-width: 120px;
  margin-right: 20px;
  font-weight: 500;
  vertical-align: middle;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}

.form-group input,
.form-group select {
  flex: 1;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
  margin-bottom: 5px;
  align-items: center;
}

fieldset {
  color: #00ffd9;
  margin-bottom: 15px;
  border: 2px solid #444;
  padding: 10px;
  border-radius: 5px;
  padding-right: 10px;
  background-color: #2a2a2a;
}
.form-group,
fieldset.form-group {
  width: 100%;
  box-sizing: border-box;
  padding-right: 10px;
  margin-bottom: 10px;
  background-color: #1f1f1f;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #444;
}

fieldset.form-group legend {
  color: #00ffd9;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 10px;
}

.form-section {
  margin-bottom: 15px;
}
