table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #1e1e1e;
  color: #e0e0e0;
  table-layout: fixed;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #333;
  vertical-align: top;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

th {
  background-color: #292929;
  color: #00ffd9;
}

tr:hover {
  background-color: #2a2a2a;
}
td:last-child {
  min-width: 120px;
  display: flex;
  gap: 8px;
  justify-content: start;
  flex-wrap: wrap;
}

.delete-btn,
.edit-btn {
  padding: 10px 10px;
  font-size: 13px;
  min-width: 70px; 
  justify-content: center;

}

button:hover {
  opacity: 0.9;
}

.table-wrapper {
  margin-top: 20px;
  overflow-x: auto;
}

#entryCount,
#noResults {
  margin-top: 10px;
  font-size: 14px;
  color: #ccc;
}

.search-box {
  margin-top: 8px;
}

.search-box input[type="text"] {
  width: 100%;
  padding: 6px 10px;
  background-color: #2a2a2a;
  border: 2px solid #444;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  box-sizing: border-box;
}